argon2-cffi 
async-generator 
attrs 
backcall 
bleach 
certifi
cffi 
debugpy 
decorator 
defusedxml 
entrypoints
gevent
greenlet
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
jsonschema 
jupyter 
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
MarkupSafe 
matplotlib-inline 
mistune 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numpy
packaging 
pandocfilters 
parso 
pexpect 
pickleshare 
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser 
Pygments 
pyparsing 
pyrsistent 
python-dateutil 
pyzmq 
qtconsole 
QtPy 
Send2Trash 
sip
six 
terminado
testpath 
tornado 
traitlets 
wcwidth 
webencodings
websocket-client
widgetsnbextension 
zipp 
zope.event
zope.interface
